<div class="container-mt-10">
    <div class="row">
        <div class="col-lg-8 offset-2">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">Inicio Sesión</span>
                    <form>
                       
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" class="form-control" placeholder="Email"/>
                        </div>
                 
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example2" class="form-control" placeholder="Contraseña"/>
                        </div>
                      
                       
                        <div class="row mb-4">
                          <div class="col d-flex justify-content-center">
                           
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                              <label class="form-check-label" for="form2Example31"> Recordar </label>
                            </div>
                          </div>
                      
                          <div class="col">
                            
                            <a href="#!" >Olvidaste tu Contraseña?</a>
                          </div>
                        </div>
                      
                     
                        <button class="btn btn-primary float-center" type="submit" routerLink="../crear-producto">Iniciar</button>
                      
                        <div class="text-center">
                          <p>No eres miembro? <a routerLink="../crear-cuenta" >Registro</a></p>
                        </div>
                      </form>
                      
                </div>
            </div>
         </div>
       </div>
     </div>
